APP_NAME=
APP_ENV=
APP_KEY=
APP_DEBUG=
APP_URL=
API_URL=
APP_TIMEZONE=
CACHE_DRIVER=
SESSION_DRIVER=
X_CLIENT=
EASIFY_APP_KEY=
SWAGGER_GENERATE_ALWAYS=
LOG_CHANNEL=
LOG_SLACK_WEBHOOK_URL=
DB_CONNECTION=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
NEW_CLIENT_HOST=
NEW_CLIENT_PORT=
NEW_CLIENT_USERNAME=
NEW_CLIENT_PASSWORD=
REDIS_CLIENT=
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=
REDIS_DB=
REDIS_CACHE_DB=
QUEUE_CONNECTION=
QUEUE_FAILED_DRIVER=
JOBS_TABLE=
FAILED_JOBS_TABLE=
GOOGLE_JSON_KEY=
JWT_SECRET=
asterisk_conf=
TEL_PRIVATE_KEY=
RprHpYMTcQRek70GEZEFy3gfpJVBTAAwt4G09hlw/KoBR4t2hg=
SERVER_API_KEY=
SMS_API=
SMS_ACCESS=
SMS_URL_API=
SMS_NUMBER=
PLIVO_SMS_NUMBER=
OTP_MAIL_HOST=
OTP_MAIL_PORT=
OTP_MAIL_USERNAME=
OTP_MAIL_PASSWORD=
OTP_MAIL_ENCRYPTION=
SMS_SERVICE_URL=
SMS_SERVICE_KEY=
SMS_SERVICE_TOKEN=
SMS_FROM_NUMBER=
ERROR_MAIL_HOST=
ERROR_MAIL_PORT=
ERROR_MAIL_USERNAME=
ERROR_MAIL_PASSWORD=
ERROR_MAIL_ENCRYPTION=
SITE_NAME=
SITE_NAME_LOGO=
CALL_CHARGE_SECRET=
STRIPE_KEY=
STRIPE_SECRET=
ROHIT_EMAIL=
VIJAY_EMAIL=
DID_SALE_API_URL=
DID_SALE_SERVICE_KEY=
DID_SALE_SERVICE_TOKEN=
DID_FORWARD_SMS_URL=
DID_FORWARD_FAX_URL=
PORTAL_NAME=
PORTAL_MAIL_HOST=
PORTAL_MAIL_PORT=
PORTAL_MAIL_USERNAME=
PORTAL_MAIL_PASSWORD=
PORTAL_MAIL_SENDER_NAME=
portal_mail_sender_email=
PORTAL_MAIL_ENCRYPTION=
INVOICE_COMPANY_LOGO=
INVOICE_COMPANY_NAME=
INVOICE_COMPANY_ADDRESS1=
INVOICE_COMPANY_ADDRESS2=
INVOICE_COMPANY_PHONE=
INVOICE_COMPANY_EMAIL=
SYSTEM_ADMIN_EMAIL=
SUPPORT_TEAM_EMAIL_GROUP=
SALES_TEAM_EMAIL_GROUP=
SUPPORT_TEAM_TEXT_GROUP=
SALES_TEAM_TEXT_GROUP=
PREDICTIVE_CALL_TOKEN=
DEFAULT_COMPANY_NAME=
DEFAULT_EMAIL=
DEFAULT_NAME=
PLIVO_USER=
PLIVO_PASS=
SIGNED_APPLICATION_PDF_LOGO=
SIGNED_APPLICATION_SIGNATURE_IMG=
DID_TELNYX_API_URL=
TELNYX_CDR_REPORT_URL=
SMS_AI_LIST_FILE_UPLOAD_PATH=
RINGLESS_LIST_FILE_UPLOAD_PATH=
TELNYX_SMS_AI_TOKEN=
TELNYX_SMS_AI_WEBHOOK=
TELNYX_SMS_AI_URL=
RINGLESS_VOICEMAIL=
ASTERISK_AMI_HOST=
FILE_UPLOAD_PATH=
TWILIO_SID=
TWILIO_AUTH_TOKEN=
TWILIO_VERIFY_SID=
PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_GMAIL_REDIRECT_URI=
GOOGLE_CLOUD_PROJECT_ID=
GMAIL_PUBSUB_TOPIC=
GMAIL_PUBSUB_SUBSCRIPTION=
OPENAI_API_KEY=
OPENAI_MODEL=
